.speech {
  font-weight: 700;
  text-decoration: underline;
  font-family: Garamond;

}
html{
  background-color: #999999;
}
.map{
  background-color: #FFFFFF;
}
span.hint{
  font-style:italic;
  font-weight:bold;
  text-decoration: underline;
}
span.mark{
  font-weight:bold;
  color: blue;
}
span.hMark{
  
}
canvas {
  height: 100%;
  width: 100%;
  display: block;
}
.resultsArea {
  background-color: #FFFFFF;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  border-radius: 8px;
  height: 69vh;
  width: 98%;
  margin-top:2vh ;
  padding-left: 2%;
  margin-right:2%;
}
input {
 background-size: cover;
  color:grey;
  float: left;
  border-color:yellow;
  width: 98%;
  height:12vh;
  font-size: 50px;
  font-family: "Garamond";
  font-weight: 700;
  padding-left: 1.5%;
}
.subButton{
  width: 98%;
}
.button {
  float: left;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  border-radius: 5px;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 5vh;
  padding: 12px;
  width: 95%;
  height: 12vh;
  transition: all 0.25s;
  cursor: pointer;
  margin: 5px;
  margin-top:0;
  font-weight: bold;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.button:hover{
 background-color:#AAAAAA;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.gridParent{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: 13vh 13vh;
  grid-column-gap:4px;
}
.map{
  border-radius: 8px;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  background-size:100% 100%;
  background-repeat: no-repeat;
  background-image: url("https://www.pixilart.com/images/art//82fe3f8ac928bbe.png?v=1523463341");
  display: inline-block;
  grid-column-start:3;
  grid-column-end:4;
  grid-row-start:1;
  grid-row-end:3;
}
.inv{
  background-color: #FFFFFF;
  opacity: 80%;
  height: 13vh;
  border-radius: 8px;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  display: inline;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 98%

}
.health{

}
